<div>
    <div class="header-tool">
        <br>
        <div>
            <div class="col-md-3" style="text-align: right">
                <img src="../../assets/users.svg" style="height: 80px;
    width: 100px;">
            </div>
            <div class="col-md-9">
                <h4>Gestion des clients</h4>
                <p>This interface descrption </p>
            </div>

        </div>
        <hr class="separator">
    </div>
    <br>

    <!-- Panel d'affichage des employés -->
    <div class="container" *ngIf="mode==0">
        <div class="panel panel-default">
            <!--
            <div class="panel-title" style="text-align: center;font-weight: 600;color: #3f51b5;">Recherher client</div>
            <div class="panel-body">

                Panel de recherche des employés -->
            <!--
                <div class="row grid-divider" style=" color: #3f51b5; font-weight: 500;">
                    <div class="col-sm-6">
                        <div class="col-padding" style="text-align: center">
                            <h5>Par service</h5>
                            <mat-form-field style="text-align: center">
                                <mat-select placeholder="Service" required [(ngModel)]="service" (ngModelChange)="chercherService()">
                                    <mat-option>--</mat-option>
                                    <mat-option value="Service Informatique">Service Informatique</mat-option>
                                    <mat-option value="Service Stock">Service Stock</mat-option>
                                    <mat-option value="Service Agronomie">Service Agronomie</mat-option>
                                    <mat-option value="Service Comptabilité">Service Comptabilité</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="col-padding" style="text-align: center">
                            <h5 style="text-align: center">Par Nom</h5>
                            <form>
                                <mat-form-field style="margin-right: 30px">
                                    <input matInput placeholder="Search" [(ngModel)]="motCle" (ngModelChange)="chercher()" name="motCle">
                                </mat-form-field>

                                <button mat-raised-button color="primary" (click)="chercher()"><i class="fas fa-search"></i> Rechercher  </button>

                            </form>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    -->
            <!--Panel d'affichage -->
            <div class="panel panel-default">


                <div class="panel-body">
                    <!-- <ag-grid-angular style=" height: 500px;" class="ag-theme-balham" [rowData]="rowData | async" [columnDefs]="columnDefs" (gridReady)="onGridReady($event)" (cellValueChanged)="onCellValueChanged($event)">

                    </ag-grid-angular> -->
                    <ag-grid-angular style="width: 100%; height: 800px;" class="ag-theme-balham" (gridReady)="onGridReady($event)" (cellValueChanged)="onCellValueChanged($event)" [columnDefs]="columnDefs" [rowData]="rowData">
                    </ag-grid-angular>
                    <button class="btn btn-primary" (click)="saveModifiedRows()">Save</button>
                    <!--
                <div id="no-more-tables">


                    <table class="table table-hover table-striped table-bordered nowrap" style="margin-top: 10px;width:100%">
                        <thead>
                            <tr>
                                <th scope="col">#Matricule</th>
                                <th scope="col">Nom</th>
                                <th scope="col">Prenom</th>
                                <th scope="col">Code</th>
                                <th scope="col">Patent</th>
                                <th scope="col">RC</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let c of clients">
                                <td data-title="#Matricule">{{c.id}}</td>
                                <td data-title="Nom">{{c.name1}}</td>
                                <td data-title="Prenom">{{c.name2}}</td>
                                <td data-title="code">{{c.code}}</td>
                                <td data-title="Patent">{{c.patent}}</td>
                                <td data-title="RC">{{c.rc}}</td>
                                <td data-title="Action">
                                    <a (click)="openDialog(c.id,c.name1)">
                                        <i class="far fa-trash-alt fa-lg" style="cursor: pointer;color: red"></i></a>
                                    <a (click)="chargerEmp(c)"><i class="fas fa-user-edit fa-lg"
                      style="cursor: pointer;color: #035b96;margin-left: 40px"></i></a> </td>
                            </tr>
                        </tbody>
                    </table>
                    <button mat-raised-button color="primary" (click)="mode=1" style="align-content: right"><i
              class="fas fa-user-plus"></i>
            Ajouter
          </button>


                </div>
                -->

                </div>
                <div class="panel-footer" style="text-align: center">
                    <nav style="position: center;cursor: pointer">
                        <ul class="pagination">

                            <li class="page-item " [ngClass]="{'disabled':page==0}">
                                <a class="page-link" (click)="gotoPage(page-1)">Précédent</a>
                            </li>
                            <li class="page-item" *ngFor="let p of pages;let i=index" [ngClass]="{'active':page==i}">
                                <a class="page-link " (click)="gotoPage(i)">{{i}}</a>
                            </li>


                            <li class="page-item">
                                <a class="page-link" [ngClass]="{'disabled':page>=ArrayS-1}" (click)="gotoPage(page+1)">Suivant</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>

        </div>

        <div>
            <!-- Panel d'ajoute d'employé -->
            <div class="container" *ngIf="mode==1">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Ajouter Client


                    </div>
                    <div class="panel-body">

                        <mat-horizontal-stepper [linear]="true" #stepper style="font-family: PayPal-Sans;">
                            <mat-step [stepControl]="firstFormGroup" [editable]="true">
                                <form [formGroup]="firstFormGroup">
                                    <ng-template matStepLabel>Information Personelle</ng-template>
                                    <div style="text-align: center">

                                        <div class="form-group">
                                            <div class="col-md-6">
                                                <mat-form-field class="example-form-field">
                                                    <input matInput placeholder="Nom" formControlName="nom" required>
                                                    <button mat-button *ngIf="nom.value" matSuffix mat-icon-button aria-label="Clear" (click)="nom.reset()">
                          <mat-icon>close</mat-icon>
                        </button>
                                                    <mat-hint></mat-hint>
                                                    <mat-error *ngIf="nom.errors && !nom.hasError('required')">
                                                        nom trés court
                                                    </mat-error>
                                                    <mat-error *ngIf="nom.hasError('required')">
                                                        nom est <strong>requis</strong>
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-6">
                                                <mat-form-field class="example-form-field">
                                                    <input matInput placeholder="Prenom" formControlName="prenom" required>
                                                    <button mat-button *ngIf="prenom.value" matSuffix mat-icon-button aria-label="Clear" (click)="prenom.reset()">
                          <mat-icon>close</mat-icon>
                        </button>
                                                    <mat-hint></mat-hint>
                                                    <mat-error *ngIf="prenom.errors && !prenom.hasError('required')">
                                                        prenom trés court
                                                    </mat-error>
                                                    <mat-error *ngIf="prenom.hasError('required')">
                                                        prenom est <strong>requis</strong>
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-6">
                                                <mat-form-field class="example-form-field">
                                                    <span matPrefix>+212 &nbsp;</span>
                                                    <input type="tel" matInput placeholder="Telephone" formControlName="tele" required>
                                                    <mat-icon matSuffix>phone</mat-icon>
                                                    <mat-error *ngIf="tele.errors && !tele.hasError('required')">
                                                        Téléphone saisi invalid
                                                    </mat-error>
                                                    <mat-error *ngIf="tele.hasError('required')">
                                                        Téléphone est <strong>requis</strong>
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-6">
                                                <mat-form-field class="example-form-field">
                                                    <input matInput placeholder="Email Adresse" formControlName="email" required>
                                                    <mat-hint></mat-hint>
                                                    <mat-error *ngIf="email.errors && !email.hasError('required')">
                                                        Email saisi invalid
                                                    </mat-error>
                                                    <mat-error *ngIf="email.hasError('required')">
                                                        Email est <strong>requis</strong>
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-6">
                                                <mat-form-field class="example-form-field">
                                                    <input matInput placeholder="CIN" formControlName="cin" required>
                                                    <mat-hint></mat-hint>

                                                    <mat-error *ngIf="cin.hasError('required')">
                                                        CIN est <strong>requis</strong>
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-6">
                                                <mat-form-field class="example-form-field">
                                                    <mat-select placeholder="Sexe" formControlName="sexe" required>
                                                        <mat-option>--</mat-option>
                                                        <mat-option value="homme"> Homme</mat-option>
                                                        <mat-option value="femme"> Femme</mat-option>
                                                    </mat-select>
                                                    <mat-error *ngIf="sexe.hasError('required')">sexe est <strong>requis</strong></mat-error>

                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-6">
                                                <mat-form-field class="example-form-field">
                                                    <input matInput placeholder="Ville" formControlName="ville">
                                                </mat-form-field>
                                            </div>

                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-6">
                                                <mat-form-field class="example-form-field">
                                                    <input matInput [matDatepicker]="picker" formControlName="Lnaissance" placeholder="Date Naissance">
                                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                    <mat-datepicker #picker></mat-datepicker>
                                                </mat-form-field>
                                            </div>

                                        </div>


                                        <div class="form-group">
                                            <div class="col-md-6">
                                                <mat-form-field class="example-form-field" required>
                                                    <textarea matInput placeholder="Address" formControlName="adresse"></textarea>
                                                    <mat-error *ngIf="adresse.hasError('required')">
                                                        adresse est <strong>requis</strong>
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div>
                                            <button mat-raised-button color="primary" matStepperNext>Suivant</button>
                                        </div>

                                    </div>
                                </form>

                            </mat-step>
                            <mat-step [stepControl]="secondFormGroup" [editable]="true">
                                <form [formGroup]="secondFormGroup">
                                    <ng-template matStepLabel>Information de travaill</ng-template>

                                    <div style="text-align: center">
                                        <div class="form-group">
                                            <div class="col-md-6">
                                                <mat-form-field class="example-form-field">
                                                    <mat-select placeholder="Service" formControlName="service" required>
                                                        <mat-option>--</mat-option>
                                                        <mat-option value="Service Informatique">Service Informatique</mat-option>
                                                        <mat-option value="Service Stock">Service Stock</mat-option>
                                                        <mat-option value="Service Agronomie">Service Agronomie</mat-option>
                                                        <mat-option value="Service Comptabilité">Service Comptabilité</mat-option>
                                                    </mat-select>
                                                    <mat-error *ngIf="">Service est <strong>Requis</strong></mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-6">
                                                <mat-form-field class="example-form-field">
                                                    <input matInput [matDatepicker]="picker1" formControlName="DateDebut" placeholder="Date Début">
                                                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                                    <mat-datepicker #picker1></mat-datepicker>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-6">
                                                <mat-form-field class="example-form-field">
                                                    <input matInput [matDatepicker]="picker2" formControlName="DateFin" placeholder="Date fin">
                                                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                                    <mat-datepicker #picker2></mat-datepicker>

                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-6">
                                                <mat-form-field class="example-form-field">
                                                    <input matInput placeholder="Niveau d'etude" formControlName="Niveau" required>
                                                    <mat-hint></mat-hint>

                                                    <mat-error *ngIf="Niveau.hasError('required')">
                                                        Le niveau d'étude est <strong>requis</strong>
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <br>
                                        <div>
                                            <button mat-raised-button matStepperPrevious>Précédente</button>
                                            <button mat-raised-button color="primary" matStepperNext>Suivant</button>
                                        </div>
                                    </div>
                                </form>

                            </mat-step>
                            <mat-step>
                                <ng-template matStepLabel>Choisir Votre Photo</ng-template>

                                <div style="text-align: center">
                                    <div style="position: relative;right: -44%;" *ngIf="progress.percentage!=0 && progress.percentage<100">
                                        <mat-spinner></mat-spinner>
                                    </div>
                                    <div *ngIf="progress.percentage==0 || progress.percentage==100">
                                        <img src="../../assets/img/logo.JPG" *ngIf="photo==null && progress.percentage!=100">

                                        <img src="{{photo}}" class="img" *ngIf=" progress.percentage==100 "><br>
                                    </div>
                                    <!--<div>
                  <img src="../../assets/img/logo.JPG" *ngIf="photo==null && progress.percentage!=100">
                  <img src="{{photo}}" *ngIf=" progress.percentage==100" class="img"><br>
                </div>
-->
                                    <div class="col-md-6 col-md-offset-3">
                                        <div *ngIf="currentFileUpload">
                                            <br>
                                            <br>
                                            <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" attr.aria-valuenow="{{progress.percentage}}" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width:progress.percentage+'%'}">
                                                {{progress.percentage}}%
                                            </div>
                                        </div>

                                        <label style="color: #1ca64c" *ngIf="progress.percentage==100">La photo est bien chargé.</label>
                                        <br>
                                        <label class="btn btn-default">
                    <input type="file" (change)="selectFile($event)">
                  </label>
                                        <button mat-raised-button [disabled]="!selectedFiles" (click)="upload()">Upload
                  </button>
                                        <br>
                                        <br>

                                        <div style="text-align: center">
                                            <button mat-raised-button matStepperPrevious>Précédente</button>
                                            <button mat-raised-button color="primary" (click)="setValue()" matStepperNext>Suivant</button>
                                        </div>
                                    </div>


                                </div>

                            </mat-step>
                            <mat-step>
                                <ng-template matStepLabel>Terminé</ng-template>
                                <h3> Dernière étape : confirmation ! </h3>
                                <div style="text-align: center">
                                    <div>
                                        <img src="../../assets/img/logo.JPG" *ngIf="employee.photo==null && progress.percentage!=100">
                                        <img src="{{photo}}" *ngIf=" progress.percentage==100" class="img"><br>
                                    </div>
                                    <div class="form-group">

                                        <div class="col-md-6">
                                            Nom : <strong>{{employee.nom}}</strong>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-6">
                                            Prénom : <strong>{{employee.prenom}}</strong>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-6">
                                            Sexe : <strong>{{employee.sexe}}</strong>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-6">
                                            Carte d'indentité : <strong>{{employee.cin}}</strong>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-6">
                                            Email Adresse : <strong>{{employee.email}}</strong>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-6">
                                            Service : <strong>{{employee.service}}</strong>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-6">
                                            Téléphone : <strong>{{employee.tele}}</strong>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-6">
                                            Ville : <strong>{{employee.ville}}</strong>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-6">
                                            Date début : <strong>{{employee.dateDeb}}</strong>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-6">
                                            Date fin : <strong>{{employee.dateFin}}</strong>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-6">
                                            Date Naissance : <strong>{{employee.dateNaissance}}</strong>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-6">
                                            Adresse : <strong>{{employee.adresse}}</strong>
                                        </div>
                                    </div>
                                </div>

                                <div style="text-align: center">
                                    <button mat-raised-button matStepperPrevious class="spacer">Précédent</button>
                                    <button mat-raised-button (click)="stepper.reset()" class="spacer">Vider les champs</button>
                                    <button mat-raised-button color="primary" (click)="saveEmploye()" class="spacer">Confirmer</button>
                                </div>
                            </mat-step>
                        </mat-horizontal-stepper>
                        <div style="text-align: right">
                            <button mat-raised-button (click)="annuler()" style="text-align: right">
              Annuler
            </button>
                        </div>
                    </div>

                </div>

            </div>

            <!-- Panel de modification d'employé -->
            <div class="container" *ngIf="mode==2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Modifier Employee


                    </div>
                    <div class="panel-body">

                        <mat-vertical-stepper [linear]="true" #stepper style="font-family: PayPal-Sans;">
                            <mat-step [stepControl]="firstFormGroup && secondFormGroup" [editable]="true">
                                <ng-template matStepLabel>Modifier les informations</ng-template>
                                <div style="text-align: center">


                                    <form [formGroup]="firstFormGroup">

                                        <div class="form-group">
                                            <div class="col-md-6">
                                                <mat-form-field class="example-form-field">
                                                    <input matInput placeholder="Nom" formControlName="nom" required>
                                                    <button mat-button *ngIf="nom.value" matSuffix mat-icon-button aria-label="Clear" (click)="nom.reset()">
                          <mat-icon>close</mat-icon>
                        </button>
                                                    <mat-hint></mat-hint>
                                                    <mat-error *ngIf="nom.errors && !nom.hasError('required')">
                                                        nom trés court
                                                    </mat-error>
                                                    <mat-error *ngIf="nom.hasError('required')">
                                                        nom est <strong>requis</strong>
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-6">
                                                <mat-form-field class="example-form-field">
                                                    <input matInput placeholder="Prenom" formControlName="prenom" required>
                                                    <button mat-button *ngIf="prenom.value" matSuffix mat-icon-button aria-label="Clear" (click)="prenom.reset()">
                          <mat-icon>close</mat-icon>
                        </button>
                                                    <mat-hint></mat-hint>
                                                    <mat-error *ngIf="prenom.errors && !prenom.hasError('required')">
                                                        prenom trés court
                                                    </mat-error>
                                                    <mat-error *ngIf="prenom.hasError('required')">
                                                        prenom est <strong>requis</strong>
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-6">
                                                <mat-form-field class="example-form-field">
                                                    <span matPrefix>+212 &nbsp;</span>
                                                    <input type="tel" matInput placeholder="Telephone" formControlName="tele" required>
                                                    <mat-icon matSuffix>phone</mat-icon>
                                                    <mat-error *ngIf="tele.errors && !tele.hasError('required')">
                                                        Téléphone saisi invalid
                                                    </mat-error>
                                                    <mat-error *ngIf="tele.hasError('required')">
                                                        Téléphone est <strong>requis</strong>
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-6">
                                                <mat-form-field class="example-form-field">
                                                    <input matInput placeholder="Email Adresse" formControlName="email" required>
                                                    <mat-hint></mat-hint>
                                                    <mat-error *ngIf="email.errors && !email.hasError('required')">
                                                        Email saisi invalid
                                                    </mat-error>
                                                    <mat-error *ngIf="email.hasError('required')">
                                                        Email est <strong>requis</strong>
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-6">
                                                <mat-form-field class="example-form-field">
                                                    <input matInput placeholder="CIN" formControlName="cin" required>
                                                    <mat-hint></mat-hint>

                                                    <mat-error *ngIf="cin.hasError('required')">
                                                        CIN est <strong>requis</strong>
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-6">
                                                <mat-form-field class="example-form-field">
                                                    <mat-select placeholder="Sexe" formControlName="sexe" required>
                                                        <mat-option>--</mat-option>
                                                        <mat-option value="homme"> Homme</mat-option>
                                                        <mat-option value="femme"> Femme</mat-option>
                                                    </mat-select>
                                                    <mat-error *ngIf="sexe.hasError('required')">sexe est <strong>requis</strong></mat-error>

                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-6">
                                                <mat-form-field class="example-form-field">
                                                    <input matInput placeholder="Ville" formControlName="ville">
                                                </mat-form-field>
                                            </div>

                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-6">
                                                <mat-form-field class="example-form-field">
                                                    <input matInput [matDatepicker]="picker" formControlName="Lnaissance" placeholder="Date Naissance">
                                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                    <mat-datepicker #picker></mat-datepicker>
                                                </mat-form-field>
                                            </div>

                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-6">
                                                <mat-form-field class="example-form-field" required>
                                                    <textarea matInput placeholder="Address" formControlName="adresse"></textarea>
                                                    <mat-error *ngIf="adresse.hasError('required')">
                                                        adresse est <strong>requis</strong>
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>

                                    </form>
                                    <form [formGroup]="secondFormGroup">
                                        <div class="form-group">
                                            <div class="col-md-6">
                                                <mat-form-field class="example-form-field">
                                                    <mat-select placeholder="Service" formControlName="service" required>
                                                        <mat-option>--</mat-option>
                                                        <mat-option value="Service Informatique">Service Informatique</mat-option>
                                                        <mat-option value="Service Stock">Service Stock</mat-option>
                                                        <mat-option value="Service Agronomie">Service Agronomie</mat-option>
                                                        <mat-option value="Service Comptabilité">Service Comptabilité</mat-option>
                                                    </mat-select>
                                                    <mat-error *ngIf="">Service est <strong>Requis</strong></mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-6">
                                                <mat-form-field class="example-form-field">
                                                    <input matInput [matDatepicker]="picker1" formControlName="DateDebut" placeholder="Date Début">
                                                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                                    <mat-datepicker #picker1></mat-datepicker>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-6">
                                                <mat-form-field class="example-form-field">
                                                    <input matInput [matDatepicker]="picker2" formControlName="DateFin" placeholder="Date fin">
                                                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                                    <mat-datepicker #picker2></mat-datepicker>

                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-6">
                                                <mat-form-field class="example-form-field">
                                                    <input matInput placeholder="Niveau d'etude" formControlName="Niveau" required>

                                                    <mat-error *ngIf="Niveau.hasError('required')">
                                                        Le niveau d'étude est <strong>requis</strong>
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-md-offset-3">
                                            <button mat-raised-button color="primary" (click)="setValue()" matStepperNext>Suivant</button>
                                        </div>

                                    </form>
                                </div>

                            </mat-step>

                            <mat-step>
                                <ng-template matStepLabel>Terminé</ng-template>
                                <h3> Dernière étape : confirmation ! </h3>
                                <div style="text-align: center">

                                    <div class="form-group">

                                        <div class="col-md-6">
                                            Nom : <strong>{{employee.nom}}</strong>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-6">
                                            Prénom : <strong>{{employee.prenom}}</strong>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-6">
                                            Sexe : <strong>{{employee.sexe}}</strong>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-6">
                                            Carte d'indentité : <strong>{{employee.cin}}</strong>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-6">
                                            Email Adresse : <strong>{{employee.email}}</strong>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-6">
                                            Service : <strong>{{employee.service}}</strong>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-6">
                                            Téléphone : <strong>{{employee.tele}}</strong>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-6">
                                            Ville : <strong>{{employee.ville}}</strong>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-6">
                                            Date début : <strong>{{employee.dateDeb}}</strong>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-6">
                                            Date fin : <strong>{{employee.dateFin}}</strong>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-6">
                                            Date Naissance : <strong>{{employee.dateNaissance}}</strong>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-6">
                                            Adresse : <strong>{{employee.adresse}}</strong>
                                        </div>
                                    </div>
                                </div>

                                <div style="text-align: center">
                                    <button mat-raised-button matStepperPrevious class="spacer">Précédent</button>
                                    <button mat-raised-button (click)="stepper.reset()" class="spacer">Vider les champs</button>
                                    <button mat-raised-button color="primary" (click)="updateEmp()" class="spacer">Confirmer</button>
                                </div>
                            </mat-step>
                        </mat-vertical-stepper>
                        <div style="text-align: right">
                            <button mat-raised-button (click)="annuler()" style="text-align: right">
              Annuler
            </button>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>