.example-card {
    max-width: 90%;
}

hr.separator {
    border-top: 1px solid white;
    width: 88%
}

.header-tool {
    background-color: #0070ba;
    background-image: radial-gradient(circle farthest-side at center bottom, #3498db, #fafeff 125%);
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid #003087;
    color: white;
    font-weight: 500
}

.row.vdivide [class*='col-']:not(:last-child):after {
    background: #e0e0e0;
    width: 1px;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    min-height: 70px;
}

@media (min-width: 768px) {
    .grid-divider {
        position: relative;
        padding: 0;
    }
    .grid-divider>[class*='col-'] {
        position: static;
    }
    .grid-divider>[class*='col-']:nth-child(n+2):before {
        content: "";
        border-left: 1px solid #DDD;
        position: absolute;
        top: 0;
        bottom: 0;
    }
    .col-padding {
        padding: 0 15px;
    }
}

.img {
    width: 228px;
    height: 227px;
    border-radius: 50%;
}

.form-group .strong {
    color: #025b96;
}

.header-title {
    color: #0070ba;
    margin: 0;
    font-family: 'PayPal-Sans', sans-serif;
    line-height: 1.5rem;
    font-size: 0.8125rem;
    font-weight: 600;
    text-align: center;
}