<div>
    <div class="header-tool">
        <br>
        <div>
            <div class="col-md-3" style="text-align: right">
                <img src="../../assets/users.svg" style="height: 80px;
    width: 100px;">
            </div>
            <div class="col-md-9">
                <h4>Invoice management</h4>
                <p>This interface descrption </p>
            </div>

        </div>
        <hr class="separator">
    </div>
    <br>
    <div class="container">
        <!-- <input type="button" class="btn btn-primary" (click)="loadAddnew()" data-toggle="modal" data-target="#myModal" value="Create New">
        <hr>
        <div *ngIf="!dataavailbale">
            <h4> No Invoice Data is present Click Add new to add Data.</h4>
        </div>
        <div id="no-more-tables">


            <table class="table table-hover table-striped table-bordered nowrap" style="margin-top: 10px;width:100%" *ngIf="dataavailbale">
                <thead>
                    <tr>
                        <th scope="col">Sr.No</th>
                        <th scope="col">Code</th>
                        <th scope="col">Date</th>
                        <th scope="col"> ID</th>
                        <th scope="col" style="align-content: center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let e of objlist let i = index ">
                        <td data-title="#Sr.No">{{i+1}}</td>
                        <td data-title="Code">{{e.code}}</td>
                        <td data-title="Date">{{e.date}}</td>
                        <td data-title="ID">{{e.id}}</td>
                        <td data-title="Action">
                            <button type="button" class="btn btn-default btn-primary" (click)="loadEditForm(e.id,e.code,e.date)" data-toggle="modal" data-target="#myModal">
                                <span class="glyphicon glyphicon-edit"></span> Edit
                            </button> |
                            <button type="button" class="btn btn-default btn-danger" (click)="deleteconfirmation(e.id)">
                                <span class="glyphicon glyphicon-trash"></span> Delete
                            </button>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div> -->
        <div>

            <div class="row">
                <div class="col-md-5" style="text-align: left">
                    <mat-checkbox [(ngModel)]="OnlySelected">Only selected items </mat-checkbox>
                    <button mat-raised-button color="primary" style="margin-left: 10px" (click)="exportCSV()">
                        <i class="fas fa-file-excel"></i> Export CSV
                    </button>
                </div>
                <div class="col-md-7" style="text-align: right">
                    <button mat-raised-button color="primary" (click)="loadEditForm()" [disabled]="IsMultiple" *ngIf="IsRowSelected" data-toggle="modal" data-target="#myModal">
                        <i class="fas fa-user-edit"></i> Edit
                    </button>
                    <button mat-raised-button color="warn" (click)="delete()" style="margin-left: 5px;" *ngIf="IsRowSelected">
                        <i class="far fa-trash-alt"></i> Delete
                    </button>
                    <button mat-raised-button color="primary" (click)="loadAddnew()" style="margin-left: 5px;" data-toggle="modal" data-target="#myModal"><i class="fas fa-user-plus"></i> Add
                    </button>

                </div>

            </div>
            <br>
            <ag-grid-angular style="width: 100%; height: 800px;" class="ag-theme-balham" (gridReady)="onGridReady($event)" (cellValueChanged)="onCellValueChanged($event)" [columnDefs]="columnDefs" [rowData]="rowData" [rowSelection]="rowSelection" [paginationAutoPageSize]="true"
                (selectionChanged)="onSelectionChanged($event)" [pagination]="true">

            </ag-grid-angular>
        </div>
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h2 class="modal-primary" style="text-align: center">{{action}}</h2>
                    </div>
                    <div class="modal-body">
                        <app-invoice-edit #editView (nameEvent)="RefreshData($event)"></app-invoice-edit>
                    </div>
                    <div class="modal-footer">
                        <button type="button" #closeBtn class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>