<nav class="navbar navbar-inverse" style="background:#337ab7;">
  <div class="container-fluid">
    <div class="navbar-header">
      <span class="navbar-brand" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
     
      <a class="navbar-brand"  style="color:white" href="">MED MANAGEMENT</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="#" style="color:white">Home</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#" style="color:white"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"style="color:white"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>  
<div id="mySidenav" class="sidenav"  style="color:blue" >
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="#">About</a>
  <a href="#">Services</a>
  <a href="#">Clients</a>
  <a href="#">Contact</a>
</div> 
<router-outlet></router-outlet> 
