<!-- <nav class="col-lg-2 col-md-3 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <i-feather name="home"></i-feather>
          Home
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">
          <i-feather name="file"></i-feather>
          Orders
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/products" routerLinkActive="active">
          <i-feather name="shopping-cart"></i-feather>
          Products
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/customers" routerLinkActive="active">
          <i-feather name="users"></i-feather>
          Customers
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i-feather name="bar-chart-2"></i-feather>
          Reports
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i-feather name="layers"></i-feather>
          Integrations
        </a>
      </li>
    </ul>

    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
      <span>Saved reports</span>
      <a class="d-flex align-items-center text-muted" href="#">
        <i-feather name="plus-circle"></i-feather>
      </a>
    </h6>
    <ul class="nav flex-column mb-2">
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i-feather name="file-text"></i-feather>
          Current month
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i-feather name="file-text"></i-feather>
          Last quarter
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i-feather name="file-text"></i-feather>
          Social engagement
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i-feather name="file-text"></i-feather>
          Year-end sale
        </a>
      </li>
    </ul>  




    <ul class="list-unstyled components">
      <p>Dummy Heading</p>
      <li class="active">
          <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
          <ul class="collapse list-unstyled" id="homeSubmenu">
              <li>
                  <a href="#">Home 1</a>
              </li>
              <li>
                  <a href="#">Home 2</a>
              </li>
              <li>
                  <a href="#">Home 3</a>
              </li>
          </ul>
      </li>
      <li>
          <a href="#">About</a>
      </li>
      <li>
          <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
          <ul class="collapse list-unstyled" id="pageSubmenu">
              <li>
                  <a href="#">Page 1</a>
              </li>
              <li>
                  <a href="#">Page 2</a>
              </li>
              <li>
                  <a href="#">Page 3</a>
              </li>
          </ul>
      </li>
      <li>
          <a href="#">Portfolio</a>
      </li>
      <li>
          <a href="#">Contact</a>
      </li>
  </ul>

  
  </div>
</nav>


 -->



<div id="left-sidebar" class="sidebar ">
  <h5 class="brand-name">Soccer <a href="javascript:void(0)" class="menu_option float-right"><i class="icon-grid font-16" data-toggle="tooltip" data-placement="left" title="Grid & List Toggle"></i></a></h5>
  <nav id="left-sidebar-nav" class="sidebar-nav">
      <ul class="metismenu">
          <li class="g_heading">Project</li>
          <li class="active"><a href="index-2.html"><i class="fa fa-dashboard"></i><span>Dashboard</span></a></li>                        
          <li><a href="project-list.html"><i class="fa fa-list-ol"></i><span>Project list</span></a></li>
          <li><a href="project-taskboard.html"><i class="fa fa-calendar-check-o"></i><span>Taskboard</span></a></li>
          <li><a href="project-ticket.html"><i class="fa fa-list-ul"></i><span>Ticket List</span></a></li>
          <li><a href="project-ticket-details.html"><i class="icon-tag"></i><span>Ticket Details</span></a></li>
          <li><a href="project-clients.html"><i class="fa fa-user"></i><span>Clients</span></a></li>
          <li><a href="project-todo.html"><i class="fa fa-check-square-o"></i><span>Todo List</span></a></li>
          <li class="g_heading">App</li>
          <li><a href="app-calendar.html"><i class="fa fa-calendar"></i><span>Calendar</span></a></li>
          <li><a href="app-chat.html"><i class="fa fa-comments"></i><span>Chat</span></a></li>
          <li><a href="app-contact.html"><i class="fa fa-address-book"></i><span>Contact</span></a></li>
          <li><a href="app-filemanager.html"><i class="fa fa-folder"></i><span>FileManager</span></a></li>
          <li><a href="app-setting.html"><i class="fa fa-gear"></i><span>Setting</span></a></li>
          <li><a href="page-gallery.html"><i class="fa fa-photo"></i><span>Gallery</span></a></li>
          <li>
              <a href="javascript:void(0)" class="has-arrow arrow-c"><i class="fa fa-lock"></i><span>Authentication</span></a>
              <ul>
                  <li><a href="login.html">Login</a></li>
                  <li><a href="register.html">Register</a></li>
                  <li><a href="forgot-password.html">Forgot password</a></li>
                  <li><a href="404.html">404 error</a></li>
                  <li><a href="500.html">500 error</a></li>   
              </ul>
          </li>
          <li class="g_heading">Support</li>
          <li><a href="javascript:void(0)"><i class="fa fa-support"></i><span>Need Help?</span></a></li>
          <li><a href="javascript:void(0)"><i class="fa fa-tag"></i><span>ContactUs</span></a></li>
         

          <li> <a href="javascript:void(0)" data-toggle="collapse" href="#collapse1">Sales</a> 
            <ul id="collapse1" class="panel-collapse collapse" class="list-group">
              
              <li class="list-group-item"> 
                 <a routerLink="sales/invoices" [class.activated]="currentUrl == 'sales/invoices'"><i class="material-icons">Invoice</i></a>
             </li> 
             <li class="list-group-item"> 
              <a routerLink="sales/customers" [class.activated]="currentUrl == 'sales/customers'"><i class="material-icons">Customer</i></a>
             </li>   
 
            </ul> 
          </li>   

      </ul>
  </nav>        

 
</div>
