<!----------------------------ag grid------------------------------------->
<div class="container" >
   <div class="panel panel-default"> 
       <!--Panel d'affichage -->
       <div class="panel panel-default"> 
           <div class="panel-body"> 
                      <div class="row"></div>
                        <div class="col-md-7" style="text-align: right;float:right">
                           <button mat-raised-button style="float:right;background-color: #4CAF50;color: white;margin-left: 5px;"  (click)="edit()"  data-toggle="modal" data-target="#myModal"  [disabled]="IsMultiple" *ngIf="IsRowSelected" >
                                 <i class="fas fa-user-edit"></i> Edit
                           </button>
                           <button mat-raised-button color="warn" data-toggle="modal" data-target="#myModal2" [disabled]="IsMultiple" *ngIf="IsRowSelected"  style="margin-left: 5px;" >
                                 <i class="far fa-trash-alt"></i> Delete
                           </button>
                           <button  mat-raised-button style="background-color:#448AFF;color: white;margin-left: 5px;" data-toggle="modal" data-target="#myModal" ><i
                              class="fas fa-user-plus"></i> Add
                      </button> 
                        </div>
                      </div>
               <br>
               <!------------------- AG GRID COMPONENT ------------- -->
                     <ag-grid-angular style="width: 100%; height: 450px;" class="ag-theme-balham" 
                                 [columnDefs]="columnDefs" [rowData]="objlist" [enableSorting]="true" [enableFilter]="true"
                                 (selectionChanged)="onSelectionChanged($event)" 
                                 [paginationAutoPageSize]="true" [animateRows]="true" [pagination]="true" (gridReady)="onGridReady($event)">
                     </ag-grid-angular>
                  </div>
             </div>
      </div> 
<!-------------------------------Modal (Add or Edit)------------------------------------------>
 <div id="myModal" class="modal fade" role="dialog">
       <div class="modal-dialog">
            <div class="modal-content">
             <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-primary">Statut</h4>
             </div>
               <div class="modal-body">
                  <app-statut-edit #editstatut (nameEvent)="RefreshData($event)"></app-statut-edit>
               </div>
               <div class="modal-footer">
                  <button mat-raised-button color="warn" type="button" #closeBtn  data-dismiss="modal">Close</button>
                </div>
            </div>
      </div>
 </div>  
 <!------------------------------------Delete()--------------------------------------------->
  <div id="myModal2" class="modal fade" role="dialog">
   <div class="modal-dialog">
        <div *ngFor="let item of StObjet" class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal">&times;</button>
               <h4 class="modal-primary">Delete Statut</h4>
            </div>
            <div  class="modal-body">
               <h4>Do you really want to delete  Statut ?</h4>
               <h5 style="font-weight: normal;font-size: 14px;">N°: {{item.id}} <br> libelle : {{item.libelle}} <br> remarque : {{item.remarque}}</h5>
            </div>
            <div class="modal-footer">
               <button style="margin-right:10px;" mat-raised-button color="warn" type="button" #closeBtn  data-dismiss="modal">Close </button>
               <button mat-raised-button color="primary" (click)="deleteStatut(item.id)" type="button" >Delete</button>
            </div>
        </div>
  </div>
</div> 

