<div>
    <table class="table table-hover table-striped table-bordered nowrap" style="margin-top: 10px;width:100%" >
        <thead>
            <tr>
                <th scope="col">Sr.No</th>
                <th scope="col">Code</th>
                <th scope="col">Description</th>
                <th scope="col"> Price</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let e of ObjViews let i = index ">
                <td data-title="#Sr.No">{{i+1}}</td>
                <td data-title="Code">{{e.code}}</td>
                <td data-title="Date">{{e.descreption}}</td>
                <td data-title="ID">{{e.price}}</td>
               
            </tr>
        </tbody>
    </table>
    <div>
        <h3>Update</h3>
        
        <form #EditForm='ngForm' name="editform" (ngSubmit)="EditMainObject(EditForm)">
            <input type="text" name="code" ngModel/>
            <input type="text" name="descreption" ngModel/>
            <input type="text" name="price" ngModel/>
            <input type="submit" value="save" />
{{ngForm}}
        </form>

      
    </div>
</div>