<!-----------------------Form---------------------------------------->
<div class="container">
   <form #EditForm='ngForm' name="editform" (ngSubmit)="EditMainObject(EditForm)" class="form-horizontal" style="width:40%">
 
      <app-edit-code-name-settings #editsetting (nameEvent)="detectChanges($event)"  
      [objemp]='objemp' [isNew]='isNew' [reset]="reset"
      ></app-edit-code-name-settings>
  
  </form>
</div>
<button style="display:none" type="button" #closeBtn class="btn btn-default" data-dismiss="modal">Close</button> 
                
             

   
