.corral {
    margin: 0 auto;
    width: 460px;
    position: relative
}

.contentContainer {
    position: relative;
    margin: 130px auto 0;
    padding: 30px 10% 50px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px
}

.contentContainerBordered {
    margin: 120px auto 0;
    padding: 10px 42px 36px;
    border: 2px solid #3479b8;
    overflow: hidden;
    background: #f5f5f5
}

.smartpay-logo {
    margin: 0 10% 0;
    text-indent: 100%;
    width: 300px;
    overflow: hidden;
    text-align: center;
    white-space: nowrap
}

.full-width {
    width: 100%;
}

.mybtn {
    width: 100%;
    height: 45px;
    border-radius: 4px;
    background-color: #0f4b9f;
}

.forgotLink {
    margin: 20px 0;
    text-align: center;
    border-bottom: 0;
    cursor: pointer;
}

@media all and (min-device-width:320px) and (max-device-width:568px) {
    .oneTouchRm .rmInterstitial {
        margin-top: 15px;
        padding: 0 12px 30px
    }
    .oneTouchRm .rmInterstitial .steps-container {
        padding: 0 5px 12px
    }
    .oneTouchRm .rmInterstitial .steps-container .steps .steps-icon {
        margin-right: 12px;
        margin-bottom: 2px
    }
    .oneTouchRm .rmInterstitial .steps-container .steps .icon-text .icon-headline,
    .oneTouchRm .rmInterstitial .steps-container .steps .icon-text .icon-description {
        font-size: 14px
    }
    .oneTouchRm .contentContainer {
        margin-top: 0;
        padding: 0
    }
    .oneTouchRm .reassure {
        margin: 12px 0;
        font-size: 12px
    }
    .oneTouchRm .actionsSpacedShort {
        margin-top: 12px
    }
}

@media all and (min-device-width:375px) and (max-device-width:736px) {
    .oneTouchRm .rmInterstitial {
        margin-top: 35px;
        padding: 0 24px 30px;
        width: 100%;
    }
    .oneTouchRm .rmInterstitial .steps-container {
        padding: 0 3px 24px
    }
    .oneTouchRm .rmInterstitial .steps-container .steps .steps-icon {
        margin-right: 24px;
        margin-bottom: 2px
    }
    .oneTouchRm .rmInterstitial .steps-container .steps .icon-text .icon-headline,
    .oneTouchRm .rmInterstitial .steps-container .steps .icon-text .icon-description {
        font-size: 15px
    }
    .oneTouchRm .contentContainer {
        margin-top: 0;
        padding: 0
    }
    .oneTouchRm .reassure {
        margin: 24px 0;
        font-size: 13px
    }
    .oneTouchRm .actionsSpacedShort {
        margin-top: 24px
    }
}

@media all and (min-width:450px) and (max-width:570px) {
    .oneTouchRm .rmInterstitial {
        margin-top: 15px;
        padding: 0 6% 30px;
        width: 100%;
    }
    .oneTouchRm .rmInterstitial .steps-container {
        padding: 0 15px 15px
    }
    .oneTouchRm .rmInterstitial .steps-container .steps {
        padding: 5px 0
    }
    .oneTouchRm .rmInterstitial .steps-container .steps .icon-text .icon-description {
        padding-top: 0
    }
    .oneTouchRm .contentContainer {
        margin-top: 0;
        padding: 0
    }
}

@media all and (max-width:767px) {
    .contentContainerBordered {
        border: 0;
        margin-top: 20px;
        padding: 0 8% 30px;
        width: 100%;
    }
    .contentContainer {
        margin-top: 30px;
        padding: 0 8% 30px;
        width: 100%;
    }
    .contentContainerSlim {
        margin-top: 0;
        padding: 0
    }
    .contentContainerExpando {
        margin: 0
    }
    .corral {
        width: 100%
    }
}

.notifications {
    outline: 0;
    margin-bottom: 10px;
    font-size: 13px;
}

.notifications .notification {
    margin: 0;
    padding: 15px 15px 15px 44px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    text-align: left;
    font-size: 1em;
    background: url(../../assets/img/icon_alert_sprite-2x.png) no-repeat;
    background-size: 20px;
}

.notifications .notification.notification-critical {
    background-color: #fff7f7;
    background-position: 12px -387px;
    background-position: left 12px top -387px;
    border-color: #c72e2e;
}