/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'ag-grid-community/dist/styles/ag-grid.css';
@import 'ag-grid-community/dist/styles/ag-theme-balham.css';
body {
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.65);
    font-size: 16px;
    position: relative;
}

.spacer {
    margin-right: 10px;
}

.header-tool {
    margin-top: 10px;
    background-color: #0070ba;
    background-image: radial-gradient(circle farthest-side at center bottom, #009cde, #003087 125%);
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid #003087;
    color: white;
    font-weight: 500
}

.header-tool hr {
    width: 88%;
}

@font-face {
    font-family: PayPal-Sans;
    font-style: normal;
    font-weight: 400;
    src: url('assets/font/PayPalSansSmall-Regular.eot');
    /* IE9 Compat Modes */
    src: url('assets/font/PayPalSansSmall-Regular.woff2') format('woff2'), /* Moderner Browsers */
    url('assets/font/PayPalSansSmall-Regular.woff') format('woff');
    /* Modern Browsers */
}

@font-face {
    font-family: PayPal-Sans;
    font-style: normal;
    font-weight: 500;
    src: url('assets/font/PayPalSansSmall-Medium.eot');
    /* IE9 Compat Modes */
    src: url('assets/font/PayPalSansSmall-Medium.woff2') format('woff2'), /* Moderner Browsers */
    url('assets/font/PayPalSansSmall-Medium.woff') format('woff');
    /* Modern Browsers */
}


/* ---------------------------------------------------------------------------------------- */

@font-face {
    font-family: PayPal-Sans-Big;
    font-style: normal;
    font-weight: 300;
    src: url('assets/font/PayPalSansBig-Light.eot');
    /* IE9 Compat Modes */
    src: url('assets/font/PayPalSansBig-Light.woff2') format('woff2'), /* Moderner Browsers */
    url('assets/font/PayPalSansBig-Light.woff') format('woff'), /* Modern Browsers */
    url('assets/font/PayPalSansBig-Light.svg#69ac2c9fc1e0803e59e06e93859bed03') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: PayPal-Sans-Big;
    font-style: normal;
    font-weight: 400;
    src: url('assets/font/PayPalSansBig-Regular.eot');
    /* IE9 Compat Modes */
    src: url('assets/font/PayPalSansBig-Regular.woff2') format('woff2'), /* Moderner Browsers */
    url('assets/font/PayPalSansBig-Regular.woff') format('woff'), /* Modern Browsers */
    url('assets/font/PayPalSansBig-Regular.svg#69ac2c9fc1e0803e59e06e93859bed03') format('svg');
    /* Legacy iOS */
}

.mat-raised-button {
    font-family: PayPal-Sans !important;
}

.mat-option-text {
    font-family: PayPal-Sans;
}

.mat-form-field {
    font-family: PayPal-Sans !important;
}

.mat-select-value {
    font-family: PayPal-Sans;
}

@media only screen and (max-width: 800px) {
    /* Force table to not be like tables anymore */
    #no-more-tables table,
    #no-more-tables thead,
    #no-more-tables tbody,
    #no-more-tables th,
    #no-more-tables td,
    #no-more-tables tr {
        display: block;
    }
    /* Hide table headers (but not display: none;, for accessibility) */
    #no-more-tables thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    #no-more-tables tr {
        border: 1px solid #ccc;
    }
    #no-more-tables td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        white-space: normal;
        text-align: left;
    }
    #no-more-tables td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
        font-weight: bold;
    }
    /*
    Label the data
    */
    #no-more-tables td:before {
        content: attr(data-title);
    }
    .col-md-12 .note-text {
        text-indent: 2px !important;
    }
}

a {
    cursor: pointer;
}

.mat-dialog-title {
    font-family: paypal-sans;
    color: #015c8f;
}

li.open {
    background: transparent;
    color: white !important;
}

.mat-card-content {
    font-family: PayPal-Sans;
}

.mat-tab-label-content {
    font-family: PayPal-Sans;
}

.example-form-field {
    width: 200px;
}